In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

We've talked about Random Forests. Now it's time to build one.

Here we'll use data from Lending Club to predict the state of a loan given some information about it. You can find the dataset [here](https://www.lendingclub.com/info/download-data.action). We'll use 2015 data. ([Thinkful mirror](https://www.dropbox.com/s/m7z42lubaiory33/LoanStats3d.csv?dl=0))

In [2]:
# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    r'C:\Users\owner\LoanStats3d.csv',
    skipinitialspace=True,
    header=1
)

# Note the warning about dtypes.

C:\Users\owner\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [4]:
pd.set_option('display.max_rows', 500)

## The Blind Approach

Now, as we've seen before, creating a model is the easy part. Let's try just using everything we've got and throwing it without much thought into a Random Forest. SKLearn requires the independent variables to be be numeric, and all we want is dummy variables so let's use `get_dummies` from Pandas to generate a dummy variable for every categorical colummn and see what happens off of this kind of naive approach.

In [5]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

#rfc = ensemble.RandomForestClassifier()
#X = y2015.drop('loan_status', 1)
#Y = y2015['loan_status']
#X = pd.get_dummies(X)

#cross_val_score(rfc, X, Y, cv=5)

Did your kernel die? My kernel died.

Guess it isn't always going to be that easy...

Can you think of what went wrong?

(You're going to have to reset your kernel and reload the column, BUT DON'T RUN THE MODEL AGAIN OR YOU'LL CRASH THE KERNEL AGAIN!)

## Data Cleaning

Well, `get_dummies` can be a very memory intensive thing, particularly if data are typed poorly. We got a warning about that earlier. Mixed data types get converted to objects, and that could create huge problems. Our dataset is about 400,000 rows. If there's a bad type there its going to see 400,000 distinct values and try to create dummies for all of them. That's bad. Lets look at all our categorical variables and see how many distinct counts there are...

In [6]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
421097
term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

Well that right there is what's called a problem. Some of these have over a hundred thousand distinct types. Lets drop the ones with over 30 unique values, converting to numeric where it makes sense. In doing this there's a lot of code that gets written to just see if the numeric conversion makes sense. It's a manual process that we'll abstract away and just include the conversion.

You could extract numeric features from the dates, but here we'll just drop them. There's a lot of data, it shouldn't be a huge problem.

In [7]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

Wonder what was causing the dtype error on the id column, which _should_ have all been integers? Let's look at the end of the file.

In [8]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

In [10]:
np.unique(y2015.loc[:, 'loan_status'])

array(['Charged Off', 'Current', 'Default', 'Fully Paid',
       'In Grace Period', 'Late (16-30 days)', 'Late (31-120 days)'],
      dtype=object)

Now this should be better. Let's try again.

In [11]:
y2015_mod = pd.get_dummies(y2015)

In [12]:
y2015_mod.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified
0,68009401.0,72868139.0,16000.0,16000.0,16000.0,14.85,379.39,48000.0,33.18,0.0,...,0,0,0,0,0,1,0,0,0,0
1,68354783.0,73244544.0,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,...,0,0,0,0,0,1,0,0,0,0
2,68466916.0,73356753.0,25000.0,25000.0,25000.0,7.49,777.55,109000.0,26.02,0.0,...,0,0,0,0,0,1,0,0,0,0
3,68466961.0,73356799.0,28000.0,28000.0,28000.0,6.49,858.05,92000.0,21.60,0.0,...,0,0,0,0,0,1,0,0,0,0
4,68495092.0,73384866.0,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,...,0,0,0,0,0,1,0,0,0,0

In [13]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401.0,72868139.0,16000.0,16000.0,16000.0,60 months,14.85,379.39,C,10+ years,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783.0,73244544.0,9600.0,9600.0,9600.0,36 months,7.49,298.58,A,8 years,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916.0,73356753.0,25000.0,25000.0,25000.0,36 months,7.49,777.55,A,10+ years,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961.0,73356799.0,28000.0,28000.0,28000.0,36 months,6.49,858.05,A,10+ years,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092.0,73384866.0,8650.0,8650.0,8650.0,36 months,19.89,320.99,E,8 years,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

It finally works! We had to sacrifice sub grade, state address and description, but that's fine. If you want to include them you could run the dummies independently and then append them back to the dataframe.

## Second Attempt

Now let's try this model again.

We're also going to drop NA columns, rather than impute, because our data is rich enough that we can probably get away with it.

This model may take a few minutes to run.

In [14]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)
Y_mod = np.zeros(Y.shape)

In [15]:
Y_mod[Y =='Current'] =1
Y_mod[Y =='Fully Paid'] = 1
Y_mod[Y =='In Grace Period'] = 1

In [16]:
X['Y_mod'] = Y_mod

In [17]:
X.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified,Y_mod
0,68009401.0,72868139.0,16000.0,16000.0,16000.0,14.85,379.39,48000.0,33.18,0.0,...,0,0,0,0,1,0,0,0,0,1.0
1,68354783.0,73244544.0,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,...,0,0,0,0,1,0,0,0,0,1.0
2,68466916.0,73356753.0,25000.0,25000.0,25000.0,7.49,777.55,109000.0,26.02,0.0,...,0,0,0,0,1,0,0,0,0,1.0
3,68466961.0,73356799.0,28000.0,28000.0,28000.0,6.49,858.05,92000.0,21.60,0.0,...,0,0,0,0,1,0,0,0,0,1.0
4,68495092.0,73384866.0,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,...,0,0,0,0,1,0,0,0,0,1.0

In [18]:
matrix = X.corr()
matrix.loc[:, 'Y_mod']

id                                               0.065217
member_id                                        0.065151
loan_amnt                                       -0.017320
funded_amnt                                     -0.017320
funded_amnt_inv                                 -0.017249
int_rate                                        -0.215663
installment                                     -0.028274
annual_inc                                       0.028817
dti                                             -0.029922
delinq_2yrs                                     -0.012698
inq_last_6mths                                  -0.079406
open_acc                                        -0.015469
pub_rec                                         -0.013755
revol_bal                                        0.025125
total_acc                                       -0.005984
out_prncp                                        0.176283
out_prncp_inv                                    0.176318
total_pymnt                                      0.182315
total_pymnt_inv                                  0.182328
total_rec_prncp                                  0.216591
total_rec_int                                    0.030207
total_rec_late_fee                              -0.142708
recoveries                                      -0.382684
collection_recovery_fee                         -0.384242
last_pymnt_amnt                                  0.126135
collections_12_mths_ex_med                      -0.009960
policy_code                                           NaN
acc_now_delinq                                  -0.004169
tot_coll_amt                                     0.001853
tot_cur_bal                                      0.049220
total_rev_hi_lim                                 0.045008
acc_open_past_24mths                            -0.104033
avg_cur_bal                                      0.052831
chargeoff_within_12_mths                        -0.001015
delinq_amnt                                     -0.001100
mo_sin_old_rev_tl_op                             0.054558
mo_sin_rcnt_rev_tl_op                            0.050920
mo_sin_rcnt_tl                                   0.058323
mort_acc                                         0.049023
num_accts_ever_120_pd                           -0.008493
num_actv_bc_tl                                  -0.006535
num_actv_rev_tl                                 -0.025979
num_bc_sats                                      0.003079
num_bc_tl                                        0.006829
num_il_tl                                       -0.021106
num_op_rev_tl                                   -0.014180
num_rev_tl_bal_gt_0                             -0.025564
num_sats                                        -0.015560
num_tl_30dpd                                    -0.000679
num_tl_90g_dpd_24m                              -0.006774
num_tl_op_past_12m                              -0.095763
pct_tl_nvr_dlq                                  -0.000540
pub_rec_bankruptcies                            -0.019425
tax_liens                                       -0.001638
tot_hi_cred_lim                                  0.056287
total_bal_ex_mort                                0.003919
total_bc_limit                                   0.061304
total_il_high_credit_limit                      -0.001213
term_ 36 months                                  0.061308
term_ 60 months                                 -0.061308
grade_A                                          0.113017
grade_B                                          0.087326
grade_C                                         -0.009839
grade_D                                         -0.083203
grade_E                                         -0.106352
grade_F                                         -0.095885
grade_G                                         -0.058328
emp_length_1 year                               -0.009880
emp_length_10+ years                             0.025964
emp_length_2 years                              -0.003109
emp_length_3 years                              -0.002348
emp_length_4 years                              -0.001647
emp_length_5 years                              -0.002490
emp_length_6 years                               0.002008
emp_length_7 years                              -0.000462
emp_length_8 years                              -0.001041
emp_length_9 years                              -0.000509
emp_length_< 1 year                             -0.009916
home_ownership_ANY                               0.000719
home_ownership_MORTGAGE                          0.053485
home_ownership_OWN                              -0.004603
home_ownership_RENT                             -0.051703
verification_status_Not Verified                 0.062110
verification_status_Source Verified             -0.001339
verification_status_Verified                    -0.059965
issue_d_Apr-2015                                -0.018692
issue_d_Aug-2015                                 0.007365
issue_d_Dec-2015                                 0.030012
issue_d_Feb-2015                                -0.017618
issue_d_Jan-2015                                -0.033040
issue_d_Jul-2015                                -0.001824
issue_d_Jun-2015                                -0.010178
issue_d_Mar-2015                                -0.020626
issue_d_May-2015                                -0.013674
issue_d_Nov-2015                                 0.026805
issue_d_Oct-2015                                 0.028456
issue_d_Sep-2015                                 0.008110
pymnt_plan_n                                          NaN
purpose_car                                      0.004374
purpose_credit_card                              0.047144
purpose_debt_consolidation                      -0.032488
purpose_educational                              0.000509
purpose_home_improvement                         0.007555
purpose_house                                   -0.009945
purpose_major_purchase                          -0.002793
purpose_medical                                 -0.005479
purpose_moving                                  -0.011108
purpose_other                                   -0.008766
purpose_renewable_energy                        -0.004842
purpose_small_business                          -0.022270
purpose_vacation                                -0.002741
purpose_wedding                                  0.001017
title_Business                                  -0.022176
title_Car financing                              0.004358
title_Credit Card/Auto Repair                    0.000509
title_Credit card refinancing                    0.047029
title_Debt consolidation                        -0.032619
title_DebtC                                      0.000509
title_Green loan                                -0.004886
title_Home buying                               -0.009501
title_Home improvement                           0.007631
title_Learning and training                      0.000509
title_Major purchase                            -0.002824
title_Medical expenses                          -0.005668
title_Moving and relocation                     -0.011188
title_New Baby and New House (CC Consolidate)    0.000509
title_Other                                     -0.008598
title_Pay off Lowes Card                         0.000509
title_Paying off higher interest cards & auto    0.000509
title_Prescription Drug and Medical Costs       -0.004669
title_SAVE                                       0.000509
title_Simple Loan Until Contract Is Completed    0.000509
title_Student Loan                               0.000509
title_Trying to come back to reality!            0.000509
title_Vacation                                  -0.002775
title_considerate                                0.000509
title_new day                                    0.000509
title_new kitchen for momma!                     0.000509
title_odymeds                                    0.000509
initial_list_status_f                           -0.054050
initial_list_status_w                            0.054050
last_pymnt_d_Apr-2015                           -0.013120
last_pymnt_d_Apr-2016                           -0.104381
last_pymnt_d_Aug-2015                           -0.052393
last_pymnt_d_Aug-2016                           -0.125786
last_pymnt_d_Dec-2015                           -0.076472
last_pymnt_d_Dec-2016                            0.046686
last_pymnt_d_Feb-2015                            0.000945
last_pymnt_d_Feb-2016                           -0.081407
last_pymnt_d_Jan-2015                            0.003487
last_pymnt_d_Jan-2016                           -0.073584
last_pymnt_d_Jan-2017                            0.406793
last_pymnt_d_Jul-2015                           -0.043138
last_pymnt_d_Jul-2016                           -0.125332
last_pymnt_d_Jun-2015                           -0.025660
last_pymnt_d_Jun-2016                           -0.131626
last_pymnt_d_Mar-2015                           -0.007566
last_pymnt_d_Mar-2016                           -0.098696
last_pymnt_d_May-2015                           -0.023499
last_pymnt_d_May-2016                           -0.120476
last_pymnt_d_Nov-2015                           -0.061066
last_pymnt_d_Nov-2016                           -0.114910
last_pymnt_d_Oct-2015                           -0.074661
last_pymnt_d_Oct-2016                           -0.117924
last_pymnt_d_Sep-2015                           -0.061208
last_pymnt_d_Sep-2016                           -0.137082
next_pymnt_d_Feb-2017                            0.258585
next_pymnt_d_Jan-2017                            0.052719
next_pymnt_d_Jul-2016                            0.000509
next_pymnt_d_Mar-2017                            0.001903
last_credit_pull_d_Apr-2015                      0.004904
last_credit_pull_d_Apr-2016                      0.021310
last_credit_pull_d_Aug-2015                      0.007413
last_credit_pull_d_Aug-2016                      0.025456
last_credit_pull_d_Dec-2014                      0.001137
last_credit_pull_d_Dec-2015                      0.014189
last_credit_pull_d_Dec-2016                     -0.037999
last_credit_pull_d_Feb-2015                      0.002460
last_credit_pull_d_Feb-2016                      0.018032
last_credit_pull_d_Jan-2015                     -0.001799
last_credit_pull_d_Jan-2016                      0.014990
last_credit_pull_d_Jan-2017                      0.129887
last_credit_pull_d_Jul-2015                      0.006569
last_credit_pull_d_Jul-2016                      0.025202
last_credit_pull_d_Jun-2015                      0.006455
last_credit_pull_d_Jun-2016                      0.020968
last_credit_pull_d_Mar-2015                      0.003867
last_credit_pull_d_Mar-2016                      0.021524
last_credit_pull_d_May-2015                      0.004883
last_credit_pull_d_May-2016                      0.021133
last_credit_pull_d_Nov-2015                      0.011845
last_credit_pull_d_Nov-2016                     -0.043540
last_credit_pull_d_Oct-2015                      0.009580
last_credit_pull_d_Oct-2016                     -0.280187
last_credit_pull_d_Sep-2015                      0.007170
last_credit_pull_d_Sep-2016                      0.024444
application_type_INDIVIDUAL                     -0.002339
application_type_JOINT                           0.002339
verification_status_joint_Not Verified           0.000555
verification_status_joint_Source Verified       -0.000005
verification_status_joint_Verified               0.003369
Y_mod                                            1.000000
Name: Y_mod, dtype: float64

In [19]:
#matrix correlation with loan-status
matrix.loc[:, 'Y_mod'].sort_values()

collection_recovery_fee                         -0.384242
recoveries                                      -0.382684
last_credit_pull_d_Oct-2016                     -0.280187
int_rate                                        -0.215663
total_rec_late_fee                              -0.142708
last_pymnt_d_Sep-2016                           -0.137082
last_pymnt_d_Jun-2016                           -0.131626
last_pymnt_d_Aug-2016                           -0.125786
last_pymnt_d_Jul-2016                           -0.125332
last_pymnt_d_May-2016                           -0.120476
last_pymnt_d_Oct-2016                           -0.117924
last_pymnt_d_Nov-2016                           -0.114910
grade_E                                         -0.106352
last_pymnt_d_Apr-2016                           -0.104381
acc_open_past_24mths                            -0.104033
last_pymnt_d_Mar-2016                           -0.098696
grade_F                                         -0.095885
num_tl_op_past_12m                              -0.095763
grade_D                                         -0.083203
last_pymnt_d_Feb-2016                           -0.081407
inq_last_6mths                                  -0.079406
last_pymnt_d_Dec-2015                           -0.076472
last_pymnt_d_Oct-2015                           -0.074661
last_pymnt_d_Jan-2016                           -0.073584
term_ 60 months                                 -0.061308
last_pymnt_d_Sep-2015                           -0.061208
last_pymnt_d_Nov-2015                           -0.061066
verification_status_Verified                    -0.059965
grade_G                                         -0.058328
initial_list_status_f                           -0.054050
last_pymnt_d_Aug-2015                           -0.052393
home_ownership_RENT                             -0.051703
last_credit_pull_d_Nov-2016                     -0.043540
last_pymnt_d_Jul-2015                           -0.043138
last_credit_pull_d_Dec-2016                     -0.037999
issue_d_Jan-2015                                -0.033040
title_Debt consolidation                        -0.032619
purpose_debt_consolidation                      -0.032488
dti                                             -0.029922
installment                                     -0.028274
num_actv_rev_tl                                 -0.025979
last_pymnt_d_Jun-2015                           -0.025660
num_rev_tl_bal_gt_0                             -0.025564
last_pymnt_d_May-2015                           -0.023499
purpose_small_business                          -0.022270
title_Business                                  -0.022176
num_il_tl                                       -0.021106
issue_d_Mar-2015                                -0.020626
pub_rec_bankruptcies                            -0.019425
issue_d_Apr-2015                                -0.018692
issue_d_Feb-2015                                -0.017618
funded_amnt                                     -0.017320
loan_amnt                                       -0.017320
funded_amnt_inv                                 -0.017249
num_sats                                        -0.015560
open_acc                                        -0.015469
num_op_rev_tl                                   -0.014180
pub_rec                                         -0.013755
issue_d_May-2015                                -0.013674
last_pymnt_d_Apr-2015                           -0.013120
delinq_2yrs                                     -0.012698
title_Moving and relocation                     -0.011188
purpose_moving                                  -0.011108
issue_d_Jun-2015                                -0.010178
collections_12_mths_ex_med                      -0.009960
purpose_house                                   -0.009945
emp_length_< 1 year                             -0.009916
emp_length_1 year                               -0.009880
grade_C                                         -0.009839
title_Home buying                               -0.009501
purpose_other                                   -0.008766
title_Other                                     -0.008598
num_accts_ever_120_pd                           -0.008493
last_pymnt_d_Mar-2015                           -0.007566
num_tl_90g_dpd_24m                              -0.006774
num_actv_bc_tl                                  -0.006535
total_acc                                       -0.005984
title_Medical expenses                          -0.005668
purpose_medical                                 -0.005479
title_Green loan                                -0.004886
purpose_renewable_energy                        -0.004842
title_Prescription Drug and Medical Costs       -0.004669
home_ownership_OWN                              -0.004603
acc_now_delinq                                  -0.004169
emp_length_2 years                              -0.003109
title_Major purchase                            -0.002824
purpose_major_purchase                          -0.002793
title_Vacation                                  -0.002775
purpose_vacation                                -0.002741
emp_length_5 years                              -0.002490
emp_length_3 years                              -0.002348
application_type_INDIVIDUAL                     -0.002339
issue_d_Jul-2015                                -0.001824
last_credit_pull_d_Jan-2015                     -0.001799
emp_length_4 years                              -0.001647
tax_liens                                       -0.001638
verification_status_Source Verified             -0.001339
total_il_high_credit_limit                      -0.001213
delinq_amnt                                     -0.001100
emp_length_8 years                              -0.001041
chargeoff_within_12_mths                        -0.001015
num_tl_30dpd                                    -0.000679
pct_tl_nvr_dlq                                  -0.000540
emp_length_9 years                              -0.000509
emp_length_7 years                              -0.000462
verification_status_joint_Source Verified       -0.000005
title_odymeds                                    0.000509
title_SAVE                                       0.000509
title_Learning and training                      0.000509
purpose_educational                              0.000509
title_new day                                    0.000509
title_Trying to come back to reality!            0.000509
title_considerate                                0.000509
title_Paying off higher interest cards & auto    0.000509
title_Simple Loan Until Contract Is Completed    0.000509
title_Pay off Lowes Card                         0.000509
title_new kitchen for momma!                     0.000509
title_DebtC                                      0.000509
title_New Baby and New House (CC Consolidate)    0.000509
next_pymnt_d_Jul-2016                            0.000509
title_Credit Card/Auto Repair                    0.000509
title_Student Loan                               0.000509
verification_status_joint_Not Verified           0.000555
home_ownership_ANY                               0.000719
last_pymnt_d_Feb-2015                            0.000945
purpose_wedding                                  0.001017
last_credit_pull_d_Dec-2014                      0.001137
tot_coll_amt                                     0.001853
next_pymnt_d_Mar-2017                            0.001903
emp_length_6 years                               0.002008
application_type_JOINT                           0.002339
last_credit_pull_d_Feb-2015                      0.002460
num_bc_sats                                      0.003079
verification_status_joint_Verified               0.003369
last_pymnt_d_Jan-2015                            0.003487
last_credit_pull_d_Mar-2015                      0.003867
total_bal_ex_mort                                0.003919
title_Car financing                              0.004358
purpose_car                                      0.004374
last_credit_pull_d_May-2015                      0.004883
last_credit_pull_d_Apr-2015                      0.004904
last_credit_pull_d_Jun-2015                      0.006455
last_credit_pull_d_Jul-2015                      0.006569
num_bc_tl                                        0.006829
last_credit_pull_d_Sep-2015                      0.007170
issue_d_Aug-2015                                 0.007365
last_credit_pull_d_Aug-2015                      0.007413
purpose_home_improvement                         0.007555
title_Home improvement                           0.007631
issue_d_Sep-2015                                 0.008110
last_credit_pull_d_Oct-2015                      0.009580
last_credit_pull_d_Nov-2015                      0.011845
last_credit_pull_d_Dec-2015                      0.014189
last_credit_pull_d_Jan-2016                      0.014990
last_credit_pull_d_Feb-2016                      0.018032
last_credit_pull_d_Jun-2016                      0.020968
last_credit_pull_d_May-2016                      0.021133
last_credit_pull_d_Apr-2016                      0.021310
last_credit_pull_d_Mar-2016                      0.021524
last_credit_pull_d_Sep-2016                      0.024444
revol_bal                                        0.025125
last_credit_pull_d_Jul-2016                      0.025202
last_credit_pull_d_Aug-2016                      0.025456
emp_length_10+ years                             0.025964
issue_d_Nov-2015                                 0.026805
issue_d_Oct-2015                                 0.028456
annual_inc                                       0.028817
issue_d_Dec-2015                                 0.030012
total_rec_int                                    0.030207
total_rev_hi_lim                                 0.045008
last_pymnt_d_Dec-2016                            0.046686
title_Credit card refinancing                    0.047029
purpose_credit_card                              0.047144
mort_acc                                         0.049023
tot_cur_bal                                      0.049220
mo_sin_rcnt_rev_tl_op                            0.050920
next_pymnt_d_Jan-2017                            0.052719
avg_cur_bal                                      0.052831
home_ownership_MORTGAGE                          0.053485
initial_list_status_w                            0.054050
mo_sin_old_rev_tl_op                             0.054558
tot_hi_cred_lim                                  0.056287
mo_sin_rcnt_tl                                   0.058323
total_bc_limit                                   0.061304
term_ 36 months                                  0.061308
verification_status_Not Verified                 0.062110
member_id                                        0.065151
id                                               0.065217
grade_B                                          0.087326
grade_A                                          0.113017
last_pymnt_amnt                                  0.126135
last_credit_pull_d_Jan-2017                      0.129887
out_prncp                                        0.176283
out_prncp_inv                                    0.176318
total_pymnt                                      0.182315
total_pymnt_inv                                  0.182328
total_rec_prncp                                  0.216591
next_pymnt_d_Feb-2017                            0.258585
last_pymnt_d_Jan-2017                            0.406793
Y_mod                                            1.000000
policy_code                                           NaN
pymnt_plan_n                                          NaN
Name: Y_mod, dtype: float64

In [20]:
np.unique(Y)

array(['Charged Off', 'Current', 'Default', 'Fully Paid',
       'In Grace Period', 'Late (16-30 days)', 'Late (31-120 days)'],
      dtype=object)

In [21]:
#cross_val_score(rfc, X, Y, cv=10)

The score cross validation reports is the accuracy of the tree. Here we're about 98% accurate.

That works pretty well, but there are a few potential problems. Firstly, we didn't really do much in the way of feature selection or model refinement. As such there are a lot of features in there that we don't really need. Some of them are actually quite impressively useless.

There's also some variance in the scores. The fact that one gave us only 93% accuracy while others gave higher than 98 is concerning. This variance could be corrected by increasing the number of estimators. That will make it take even longer to run, however, and it is already quite slow.

## DRILL: Third Attempt

So here's your task. Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matrices.

Can you do it without using anything related to payment amount or outstanding principal? How do you know?

In [22]:
X.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified,Y_mod
0,68009401.0,72868139.0,16000.0,16000.0,16000.0,14.85,379.39,48000.0,33.18,0.0,...,0,0,0,0,1,0,0,0,0,1.0
1,68354783.0,73244544.0,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,...,0,0,0,0,1,0,0,0,0,1.0
2,68466916.0,73356753.0,25000.0,25000.0,25000.0,7.49,777.55,109000.0,26.02,0.0,...,0,0,0,0,1,0,0,0,0,1.0
3,68466961.0,73356799.0,28000.0,28000.0,28000.0,6.49,858.05,92000.0,21.60,0.0,...,0,0,0,0,1,0,0,0,0,1.0
4,68495092.0,73384866.0,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,...,0,0,0,0,1,0,0,0,0,1.0

In [23]:
Y = X['Y_mod']

In [24]:
X = X.drop('Y_mod', 1)
X = X[['int_rate', 'acc_open_past_24mths', 'num_tl_op_past_12m', 'last_credit_pull_d_Jan-2017', 'verification_status_Not Verified', 'total_bc_limit', 'inq_last_6mths', 'term_ 36 months', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'initial_list_status_f', 'home_ownership_RENT', 'term_ 60 months', 'initial_list_status_w','home_ownership_MORTGAGE', 'tot_hi_cred_lim', 'total_rev_hi_lim']]
X = X.dropna(axis=1)

In [25]:
#with only three features
print(cross_val_score(rfc, X, Y, cv=10).mean())

0.8886307966584326