In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [5]:
data=pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100
data['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
data['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [9]:
data.head()

  gender     height      weight
0   male  77.697389  139.744501
1   male  80.810509  190.450869
2   male  70.557449  147.877071
3   male  57.597183  164.283232
4   male  77.021268  207.234046

In [10]:
data.height.mean()

66.9355455227642

In [11]:
data.height.std()

7.037950077680983

In [12]:
data.describe()

           height      weight
count  200.000000  200.000000
mean    66.935546  178.867556
std      7.037950   24.772496
min     47.714444  128.873537
25%     61.857947  163.251969
50%     66.632716  176.249276
75%     71.397887  191.640341
max     89.948870  263.455217

In [13]:
data.groupby('gender').describe()

       height                                                        \
        count       mean       std        min        25%        50%
gender
female  100.0  63.817736  4.028720  55.681112  61.173466  63.566145
male    100.0  70.053355  7.981064  47.714444  65.371547  70.837693

                             weight                                     \
              75%        max  count        mean        std         min
gender
female  67.388894  72.291188  100.0  166.857107  15.006870  134.258298
male    75.371404  89.948870  100.0  190.878004  26.775545  128.873537


               25%         50%         75%         max
gender
female  156.855943  168.776367  176.935524  198.833842
male    175.923584  188.823397  209.256642  263.455217

In [14]:
data.gender.value_counts()

male      100
female    100
Name: gender, dtype: int64

In [15]:
data.weight.value_counts().head()

154.302441    1
179.474791    1
162.916748    1
210.533980    1
188.955317    1
Name: weight, dtype: int64