## I. Practice 'yield'

In [1]:
def practice():
    for i in range(10):
        print('hello')
        yield i

In [2]:
practice()

In [3]:
list(practice())

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for q in practice():
    print(q)

hello
0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9

## II. Implement Scrapy

In [5]:
import scrapy
from scrapy.crawler import CrawlerProcess


class TouristTheSpider(scrapy.Spider):
    name = "Tourist"
    
    
    start_urls = [
        'https://www.tourradar.com/deals/'
        ]
    def parse(self, response):
        links= response.xpath('//div[contains(@class, "con")]//a[@class="pad"]/@href').extract()
        for link in links:
            #crawl the first ten pages only
            for number in range(1, 10, 1):
                base_url = 'https://www.tourradar.com'
                page_url = base_url + link +'?page=' +str(number)
                request = scrapy.Request(page_url, callback=self.parse_page)
                yield request
                
    def parse_page(self, response):

        # Identifying the information we want from each page
        days = response.xpath('//div[contains(@class, "br ")]//dd[contains(@class,"mob")]/text()').extract()
        texts = response.xpath('//div[contains(@class, "bm")]//h4[contains(@itemprop,"name")]/text()').extract()
        savings = response.xpath('//div[contains(@class, "br ")]//dd[contains(@class,"reg")]/text()').extract()
        prices = response.xpath('//div[contains(@class, "br ")]//span[contains(@class,"prv")]/text()').extract()
        reviews = response.xpath('//div[contains(@class, "bm")]//a[contains(@class, "blank tourLink")]//span/text()').extract()
       
        #there is only one headline per page
        country = response.xpath('//div[contains(@class, "stat")]//h2/text()').extract_first()
                # Yield a dictionary with the values we want.
            
        
        for i in range(len(texts)):
            day = days[i]
            text = texts[i]
            saving = savings[i]
            price = prices[i]
            review = reviews[i]
            out = {'Headline': text,
                   'Duration': day,
                   'Price': price,
                   'Savings': saving,
                    'Reviews': review,
                    'Region': country}
            yield out 
                   

                    
                    
process = CrawlerProcess({
    'FEED_FORMAT': 'json',
    'FEED_URI': 'deals_spider.json',
    # Note that because we are doing API queries, the robots.txt file doesn't apply to us.
    'ROBOTSTXT_OBEY': True,
    'USER_AGENT': 'Inna Munroe\'s Crawler (innafomina43@gmai.com)',
    'AUTOTHROTTLE_ENABLED': True,
    'HTTPCACHE_ENABLED': True,
    'LOG_ENABLED': False,    

})
                                         

# Starting the crawler with our spider.
process.crawl(TouristTheSpider)
process.start()
print('Done!')

Done!

In [6]:
import pandas as pd


deals=pd.read_json('deals_spider.json', orient='records')

In [7]:
#convert it our data to a dataframe
df = pd.DataFrame(deals)

In [8]:
df.shape

(748, 6)

In [13]:
df.head(50)

,Duration,Headline,Price,Region,Reviews,Savings
0,13,Myanmar Experience,983,\n Page 3 of 250+ Asia Special Offers\n,9 reviews - Excellent,\n $382\n ...
1,14,Discover Japan,"3,631",\n Page 2 of 250+ Asia Special Offers\n,20 reviews - Good,\n $819\n ...
2,10,One Life Adventures - Philippines,990,\n 250+ Asia Special Offers\n,873 reviews - Excellent,\n $95\n ...
3,10,Bali Bucket List - 10 Day Tour #TickItOffWithUs,677,\n Page 3 of 250+ Asia Special Offers\n,29 reviews - Excellent,\n $73\n ...
4,11,Epic Japan,"2,121",\n Page 3 of 250+ Asia Special Offers\n,8 reviews - Excellent,\n $478\n ...
5,15,Best of Myanmar,"2,056",\n Page 3 of 250+ Asia Special Offers\n,8 reviews - Good,\n $199\n ...
6,15,Everest Base Camp,"1,190",\n Page 3 of 250+ Asia Special Offers\n,135 reviews - Excellent,\n $360\n ...
7,6,Explore Golden Triangle,406,\n Page 3 of 250+ Asia Special Offers\n,19 reviews - Excellent,\n $39\n ...
8,11,Vietnam Traveller,665,\n Page 3 of 250+ Asia Special Offers\n,6 reviews - Excellent,\n $150\n ...
9,15,Essential India,"1,264",\n Page 3 of 250+ Asia Special Offers\n,14 reviews - Good,\n $285\n ...
10,9,Cambodia Express,763,\n Page 3 of 250+ Asia Special Offers\n,11 reviews - Excellent,\n $172\n ...
11,16,Asian Adventure (from Bangkok to Siem Reap),"1,644",\n Page 3 of 250+ Asia Special Offers\n,40 reviews - Excellent,\n $331\n
12,9,Cambodia Adventure,604,\n Page 3 of 250+ Asia Special Offers\n,89 reviews - Excellent,\n $95\n ...
13,12,Cambodia Discovery,687,\n Page 3 of 250+ Asia Special Offers\n,6 reviews - Excellent,\n $268\n ...
14,15,Scenic Vietnam,"1,374",\n Page 3 of 250+ Asia Special Offers\n,5 reviews - Excellent,\n $216\n ...
15,9,China Highlights,"1,527",\n Page 3 of 250+ Asia Special Offers\n,7 reviews - Good,\n $148\n ...
16,8,"Taj, Tigers & Lakes - Golden Triangle with Ran...","1,166",\n Page 3 of 250+ Asia Special Offers\n,25 reviews - Excellent,\n $184\n ...
17,17,Road To Athens Base None (17 Days),"2,947",\n Page 9 of 250+ Europe Special Offers\n,59 reviews - Excellent,\n $74\n
18,20,"European Inspiration (End London, 20 Days)","2,798",\n Page 8 of 250+ Europe Special Offers\n,79 reviews - Excellent,\n $70\n
19,21,"European Experience (End Amsterdam, 21 Days)","2,372",\n Page 7 of 250+ Europe Special Offers\n,88 reviews - Excellent,\n $652\n
20,10,Trekking Mont Blanc,"1,497",\n Page 6 of 250+ Europe Special Offers\n,5 reviews - Excellent,\n $452\n ...
21,8,Sail Dubrovnik to Split,391,\n Page 5 of 250+ Europe Special Offers\n,17 reviews - Excellent,\n $967\n ...
22,9,Western Spirit (from London to Rome),"1,109",\n Page 4 of 250+ Europe Special Offers\n,20 reviews - Excellent,\n $250\n ...
23,8,Taste of Italy - 8 Days,960,\n Page 3 of 250+ Europe Special Offers\n,55 reviews - Excellent,\n $440\n
24,3,3 Day Loch Ness and Skye,157,\n Page 2 of 250+ Europe Special Offers\n,178 reviews - Excellent,\n $32\n ...
25,12,Europe Escape - 12 Days,"1,680",\n 250+ Europe Special Offers\n,331 reviews - Excellent,\n $790\n
26,11,Indian Getaway,588,\n Page 2 of 250+ Asia Special Offers\n,14 reviews - Good,\n $132\n ...
27,15,Classic Rajasthan,"1,183",\n Page 2 of 250+ Asia Special Offers\n,199 reviews - Excellent,\n $267\n ...
28,8,Golden Triangle,612,\n Page 2 of 250+ Asia Special Offers\n,8 reviews - Excellent,\n $138\n ...
29,9,Cambodian Traveller,776,\n Page 2 of 250+ Asia Special Offers\n,18 reviews - Excellent,\n $234\n ...
30,12,Cambodia Adventure,852,\n Page 2 of 250+ Asia Special Offers\n,11 reviews - Good,\n $133\n ...
31,20,Rajasthan and Varanasi on a Shoestring,"1,020",\n Page 2 of 250+ Asia Special Offers\n,10 reviews - Good,\n $230\n ...
32,15,Delhi to Kathmandu Adventure,"1,228",\n Page 2 of 250+ Asia Special Offers\n,17 reviews - Good,\n $371\n ...
33,8,India's Golden Triangle,665,\n Page 2 of 250+ Asia Special Offers\n,103 reviews - Excellent,\n $150\n ...
34,14,Bangkok to Singapore on a Shoestring,"1,085",\n Page 2 of 250+ Asia Special Offers\n,10 reviews - Good,\n $245\n ...
35,6,6 Days Experience Thailand,502,\n Page 2 of 250+ Asia Special Offers\n,14 reviews - Good,\n $152\n ...
36,8,Southern Thailand Sojourn,489,\n Page 2 of 250+ Asia Special Offers\n,6 reviews - Excellent,\n $110\n ...
37,10,Vietnam Express Northbound,"1,008",\n Page 2 of 250+ Asia Special Offers\n,16 reviews - Excellent,\n $227\n ...
38,15,Jewels of Sri Lanka,"1,239",\n Page 2 of 250+ Asia Special Offers\n,61 reviews - Excellent,\n $350\n
39,15,Vietnam Discovery,814,\n Page 2 of 250+ Asia Special Offers\n,8 reviews - Excellent,\n $246\n ...
40,5,Golden Triangle India Tour,400,\n 250+ Asia Special Offers\n,86 reviews - Excellent,\n $148\n ...
41,11,Taj Mahal and Wildlife with Royal Stay at Castles,831,\n 250+ Asia Special Offers\n,74 reviews - Excellent,\n $120\n ...
42,10,Vietnam Express Southbound,"1,037",\n 250+ Asia Special Offers\n,36 reviews - Excellent,\n $233\n ...
43,5,India's Bestseller - 5 Day Golden Triangle - D...,346,\n 250+ Asia Special Offers\n,71 reviews - Excellent,\n $54\n ...
44,14,Ultimate Vietnam,902,\n 250+ Asia Special Offers\n,51 reviews - Excellent,\n $110\n ...
45,9,Japan Express: Osaka to Tokyo,"2,937",\n 250+ Asia Special Offers\n,19 reviews - Good,\n $662\n ...
46,10,One Life Adventures - Japan,"1,560",\n 250+ Asia Special Offers\n,15 reviews - Excellent,\n $246\n ...
47,15,Uncover India–Delhi to Goa,"1,141",\n 250+ Asia Special Offers\n,17 reviews - Excellent,\n $257\n ...
48,10,10 Days From the South to the North of Vietnam,696,\n 250+ Asia Special Offers\n,90 reviews - Excellent,\n $377\n ...
49,22,North India Revealed,929,\n 250+ Asia Special Offers\n,92 reviews - Excellent,\n $361\n ...

In [14]:
df.tail(50)

,Duration,Headline,Price,Region,Reviews,Savings
698,14,Jakarta to Ubud,"1,745",\n Page 7 of 250+ Asia Special Offers\n,5 reviews - Good,\n $275\n ...
699,15,Unforgettable India,"1,391",\n Page 7 of 250+ Asia Special Offers\n,40 reviews - Excellent,\n $134\n ...
700,14,Iran Adventure,"3,239",\n Page 7 of 250+ Asia Special Offers\n,20 reviews - Excellent,\n $731\n ...
701,10,Southern India Tour with Beaches and Houseboat...,838,\n Page 7 of 250+ Asia Special Offers\n,14 reviews - Excellent,\n $62\n ...
702,13,Mountains & Mystics of India,"1,213",\n Page 7 of 250+ Asia Special Offers\n,14 reviews - Excellent,\n $117\n ...
703,15,China Active Adventure,"1,631",\n Page 7 of 250+ Asia Special Offers\n,5 reviews - Good,\n $368\n ...
704,14,Bangkok To Singapore Adventure,"2,012",\n Page 7 of 250+ Asia Special Offers\n,23 reviews - Excellent,\n $405\n
705,9,Best of Java,978,\n Page 7 of 250+ Asia Special Offers\n,2 reviews - Excellent,\n $221\n ...
706,27,Big Indochina Adventure (23 destinations),"2,869",\n Page 6 of 250+ Asia Special Offers\n,25 reviews - Excellent,\n $578\n
707,8,Classic Bali,733,\n Page 6 of 250+ Asia Special Offers\n,8 reviews - Excellent,\n $165\n ...
708,15,India Real Food Adventure,"1,864",\n Page 6 of 250+ Asia Special Offers\n,12 reviews - Excellent,\n $421\n ...
709,14,Iran - Discover Persia,"2,231",\n Page 6 of 250+ Asia Special Offers\n,4 reviews - Excellent,\n $868\n ...
710,8,Northern Hilltribes & Villages,489,\n Page 6 of 250+ Asia Special Offers\n,4 reviews - Good,\n $110\n ...
711,13,Japan Unrivalled,"3,709",\n Page 6 of 250+ Asia Special Offers\n,9 reviews - Excellent,\n $747\n
712,15,Cambodia & Laos Mekong Adventure,"1,713",\n Page 6 of 250+ Asia Special Offers\n,4 reviews - Good,\n $386\n ...
713,21,Essential China,"2,663",\n Page 6 of 250+ Asia Special Offers\n,6 reviews - Good,"\n $1,036\n ..."
714,14,Ultimate Cambodian Adventure (11 destinations),"1,141",\n Page 6 of 250+ Asia Special Offers\n,10 reviews - Good,\n $257\n ...
715,8,China Express,"1,141",\n Page 6 of 250+ Asia Special Offers\n,2 reviews - Excellent,\n $257\n ...
716,15,Everest Base Camp,"1,139",\n Page 6 of 250+ Asia Special Offers\n,4 reviews - Excellent,\n $256\n ...
717,8,Lifetime Experience in Sri Lanka,960,\n Page 6 of 250+ Asia Special Offers\n,7 reviews - Excellent,\n $110\n ...
718,14,Classic Bali & Lombok,"1,607",\n Page 6 of 250+ Asia Special Offers\n,6 reviews - Good,\n $362\n ...
719,5,Northern Thailand Hilltribes Trek,285,\n Page 6 of 250+ Asia Special Offers\n,5 reviews - Excellent,\n $64\n ...
720,9,Golden Triangle with Varanasi,543,\n Page 5 of 250+ Asia Special Offers\n,11 reviews - Excellent,\n $52\n ...
721,14,"Thailand Hike, Bike & Kayak","1,549",\n Page 5 of 250+ Asia Special Offers\n,4 reviews - Excellent,\n $349\n ...
722,16,South India Revealed,943,\n Page 5 of 250+ Asia Special Offers\n,57 reviews - Excellent,\n $212\n ...
723,11,Vietnam Highlight Tour 11 Days,823,\n Page 5 of 250+ Asia Special Offers\n,8 reviews - Good,\n $56\n ...
724,12,Backroads of Japan (including Takayama),"3,589",\n Page 5 of 250+ Asia Special Offers\n,5 reviews - Excellent,\n $809\n ...
725,15,Cycle Vietnam,"1,665",\n Page 5 of 250+ Asia Special Offers\n,32 reviews - Excellent,\n $375\n ...
726,9,Golden Triangle India Tour with Udaipur & Wild...,730,\n Page 5 of 250+ Asia Special Offers\n,20 reviews - Excellent,\n $70\n ...
727,10,Super South Thailand,706,\n Page 5 of 250+ Asia Special Offers\n,8 reviews - Excellent,\n $159\n ...
728,15,Delhi to Kathmandu on a Shoestring,"1,060",\n Page 5 of 250+ Asia Special Offers\n,4 reviews - Good,\n $239\n ...
729,16,The Road to Vietnam,532,\n Page 5 of 250+ Asia Special Offers\n,4 reviews - Average,\n $87\n
730,12,West Coast India & Rajasthan by Rail,978,\n Page 5 of 250+ Asia Special Offers\n,3 reviews - Excellent,\n $221\n ...
731,8,Sri Lanka Express,882,\n Page 5 of 250+ Asia Special Offers\n,8 reviews - Good,\n $267\n ...
732,22,"Vietnam, Laos & Thailand on a Shoestring","1,403",\n Page 5 of 250+ Asia Special Offers\n,3 reviews - Good,\n $316\n ...
733,7,Bangkok to Chiang Mai Express,652,\n Page 5 of 250+ Asia Special Offers\n,4 reviews - Excellent,\n $147\n ...
734,26,Cambodia & Vietnam Experience,"1,654",\n Page 4 of 250+ Asia Special Offers\n,13 reviews - Excellent,\n $261\n ...
735,9,Beautiful Bali,816,\n Page 4 of 250+ Asia Special Offers\n,5 reviews - Excellent,\n $184\n ...
736,12,Sabah Adventure,"1,819",\n Page 4 of 250+ Asia Special Offers\n,9 reviews - Excellent,\n $176\n ...
737,8,Wat's Up Cambodia?,343,\n Page 4 of 250+ Asia Special Offers\n,5 reviews - Good,\n $56\n
738,13,"13 day Golden Triangle tour with Udaipur, Mumb...",786,\n Page 4 of 250+ Asia Special Offers\n,12 reviews - Excellent,\n $114\n ...
739,6,6 Days Cambodia Highlight,335,\n Page 4 of 250+ Asia Special Offers\n,11 reviews - Excellent,\n $254\n ...
740,12,Sri Lanka on a Shoestring,978,\n Page 4 of 250+ Asia Special Offers\n,2 reviews - Excellent,\n $221\n ...
741,15,Delhi to Kathmandu,"1,452",\n Page 4 of 250+ Asia Special Offers\n,107 reviews - Excellent,\n $328\n ...
742,8,Northern Thailand At A Glance,530,\n Page 4 of 250+ Asia Special Offers\n,3 reviews - Excellent,\n $120\n ...
743,8,Royal Tour of India(Golden Triangle with Rajas...,670,\n Page 4 of 250+ Asia Special Offers\n,24 reviews - Excellent,\n $65\n ...
744,11,Explore Vietnam,611,\n Page 4 of 250+ Asia Special Offers\n,9 reviews - Good,\n $184\n ...
745,15,Everest Base Camp Trek,"1,264",\n Page 4 of 250+ Asia Special Offers\n,7 reviews - Excellent,\n $285\n ...
746,8,Explore Northern Thailand,824,\n Page 4 of 250+ Asia Special Offers\n,5 reviews - Good,\n $186\n ...
747,29,Indochina Encompassed,"3,018",\n Page 4 of 250+ Asia Special Offers\n,11 reviews - Good,\n $681\n ...